global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'openmetadata-example'
    metrics_path: "/prometheus"
    static_configs:
      - targets: ["host.docker.internal:8586"]
    relabel_configs:
      - source_labels: ["job"]
        target_label: "application"